@font-face {
    font-family: InterExtraBold;
    src: url(Inter-ExtraBold.ttf);
}

@font-face {
    font-family: MerriweatherLight;
    src: url(Merriweather-Light.ttf);
}

@font-face {
    font-family: Allura;
    src: url(Allura-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(Poppins-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: InterExtraBold;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    position: relative;
}

/* ---------------HEADER---------------  */
/* ----------NAV---------- */
header {
    position: relative;
}

header nav {
    width: 100%;
    display: flex;
    height: 70px;
    align-items: center;
    background-color: #ffffff;
}

header #logo {
    flex: 40%;
    padding-left: 50px;
    cursor: default;
}

/* header #logo h1 {
    font-size: 1.8rem;
} */

header #logo a:hover {
    /* color: #767575; */
    color: #D9262E;
}

header nav #logo span {
    color: #2980B9;
}

.stylenav {
    flex: 60%;
    display: flex;
    justify-content: space-around;
}

.stylenav li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
}

.stylenav a {
    padding: 0.5em 0;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}


.stylenav a:before,
.stylenav a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.stylenav a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #2980B9;
}

.stylenav li a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #2980B9;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

.stylenav a:hover:before {
    opacity: 1;
    width: 100%;

}

.stylenav a:hover:after {
    max-width: 100%;
}

/* ----------BANNIERE---------- */

.img {
    background: url(velostan4.jpg) center/cover;
    width: 100%;
    min-height: 60vh;
    box-shadow: inset 0 0 25px 10px #D9262E;
}

header .img-content {
    position: absolute;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

header .img-content h1 {
    font-size: 3rem;
    font-family: Allura;
    font-weight: 300;
    color: #ffffff;
    cursor: default;
}

header .img-content h2 {
    text-transform: uppercase;
    font-size: 3.2rem;
    font-family: Poppins;
    color: #ffffff;
    margin-top: -28px;
    letter-spacing: 8px;
    cursor: default;
}

/* ---------------LES FORMULAIRES--------------- */
/* ----------INFO STATIONS---------- */

.infostations {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.formulaire {
    width: 100%;
    /* background-color: #D9262E; */
    text-align: center;
}

.formulaire h3 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 25px;
    color: #D9262E
}

select {
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #2980B9;
    color: #ffffff;
}

select:focus {
    outline: none;
}

select:hover {
    transition: 0.4s;
    background-color: #ffffff;
    color: #2980B9;
}

#statistiques {
    margin: 30px 0;
    text-align: center;
    display: flex;
    font-size: 1.7rem;
}

#velodisponible {
    border-radius: 400px;
    margin: 0 50px;
    padding: 40px 0;
    flex: 1;
    border: 2px solid #2980B9;
    box-shadow: 3px 3px 0px 0px #2980B9;
}

#placedisponible {
    border-radius: 400px;
    margin: 0 50px;
    padding: 40px 0;
    flex: 1;
    border: 2px solid #2980B9;
    box-shadow: 3px 3px 0px 0px #2980B9;
}

#placedisponible:hover,
#velodisponible:hover {
    transition: 0.4s;
    box-shadow: 3px 3px 3px 0px #2980B9;
}